node_modules/
dist/
.angular/
coverage/

.env
.env.*

backend/.env
frontend/.env

.vscode/

farm-management-frontend/src/environments/environment.ts
farm-management-frontend/src/environments/environment.prod.ts